# Applying Expressions, Variables and String Operations

# Types

Using the Type command - shows you what type of data is being used

int()- Integer - Negative or Positive numbers

float()-Float - Integers that also include the real numbers inbetween the intergers (Decimals)

String - Variables (both letters and numbers) surrounded by "" or ''

Type Casting; Changing the type of expression (EX: Converting float to string)

Boolean - Type with 2 values - True(1) or False(0)

# Expressions and Variables

Expressions - operations that python performs

Basic arithmetic terms

Operands - Numbers

Operators - Math symbols (+, - , *, /) 

Double division (//) results in an int

Regular operations result in floats

PEMDAS is performed when executing mathmatical operations

PEMDAS - Please Excuse My Dear Aunt Sally

Variables 

Variables store values and are assigned with equal signs (=)

In [6]:
#Example of variable assignments
my_variable=1
my_variable

1

In [7]:
#New values of variables can be assigned with (=) and old value will no longer be relevant
my_variable=10
my_variable

10

In [14]:
#The same thing can be done with math operations
x=65 + 35
x

100

In [15]:
y=25 + 25
y

50

In [16]:
y + x

150

Here X and Y variables have been assigned to the answers of their respective problems.

We can also check the type of variable with the command type()

In [17]:
type(y)

int

In [21]:
#Use meaningful variable to better understand data
miles_driven=20 + 15
miles_driven

35

In [22]:
cost_per_gallon=2.35
travel_cost=miles_driven*cost_per_gallon
travel_cost

82.25

Boolean Values and Conversions

In [23]:
type(True) #We can check the type with the type command.

bool

When boolean values are entered into int and float commands they will result in the respective values

In [28]:
int(True)

1

In [30]:
float(False)

0.0

## String Operations

### Sequence Methods
Strings are sequences of characters and spaces within quotes (double or single quotes)

Strings can be represented by numbers.

We can locate parts within strings by indexing them.

To index strings we have the following

#### Variable
#### Index Number

We can executes strings using this format 

Variable[index number]

#### Example 
Imagine each letter being assigned a set number

#C-h-a-r--i--t-y
#0-1-2-3-4-5-6

In [42]:
#The code should returns r because Python counts starting with 0
Name="Charity"
Name[3]

'r'

Python can also start counting from the back of a string by using negative numbers starting with -1 which means last.

In [43]:
#Example of negative indexing
Name="Charity"
Name[-2]

't'

Performing sequence operations on strings

Notice the value will always return variable upto but not equal to the last indexed number

In [44]:
#Pulling certain characters from strings
Name[0:4]

'Char'

In [45]:
#Another example
Name[3:6]

'rit'

Slicing variables is almost like pulling our characters in patterns

Format is as follows

##### Variable[starting number:ending number:pattern]

In [46]:
#Slicing
#With slicing, I can pull out every second varaiable in an entire string
Name[::2]

'Caiy'

In [47]:
#Stride Value
#I can also pull out variable in portions of the strings
Name[0:5:2]

'Cai'

In [49]:
#Length
#Find length of string (how many object are in the string)
len(Name) #There are 7 letters in Charity so the value will be 7

7

In [53]:
#Concatenate
#Use addition symbols to Concatenate Strings (Joining Strings)
Name="Charity"
Statement= Name + " had an amazing day!"
Statement

'Charity had an amazing day!'

In [55]:
#Replicate
#Use * to replicate strings
3*"Charity "

'Charity Charity Charity '

Backslashes(\) are used to escape sequences 

\n = Newline

\t = Tab (huge space)

\\\ = Input actual backslash

### String Methods

In [56]:
#Uppercase
#Format = Variable.upper()
Name.upper()

'CHARITY'

In [62]:
#Replace
#Replace command replaces segments of strings to create a new string
#Format = Variable.replace("Original segment", "New Segment")
New_Statement = Statement.replace('amazing','OK')
New_Statement

'Charity had an OK day!'

In [64]:
#Find
#Find Method locates substrings in strings
#Format = Variable.find('substring desired')| Output will return with first variable number
Statement.find("had")

8

**Note** 

Syntatic error - Python doesn't understand your code

Sematic error - Your logic is wrong